body,ul>li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    list-style: none;
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
top{
    width: 100%;
    height: 58vh;
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 7.5vh;
}
.top_find_top{
    width: 100%;
    height:7.5vh ;
    border-bottom: 0.1vh solid #c4c4c4;

}
.top_find_top>a{
    width: 3vw;
    height: 2vh;
    float: left;
    margin-left: 5vw;
    margin-top: 3.5vh;
}
.top_find_top>a>img{
    width: 3vw;
    height: 2vh;
}

.phone_registration{
    width: 24vw;
    height: 2.4vh;
    float: left;
    margin-left: 27vw;
    margin-top: 3vh;
    color: #88d549;
}
.phone_registration>p{
    width: 24vw;
    height: 2.4vh;
    float: left;
    color: #88d549;
    text-align: center;
    line-height: 2.4vh;
}

.top_find_text{
    width: 18vw;
    height: 2.4vh;
    float: right;
    margin-right: 4vw;
    margin-top: 3vh;
}
.top_find_text>p{
    width:18vw;
    height: 3vh;
    margin: 0;
    padding: 0;
    font-size: 3.8vw;
    text-align: center;
    line-height: 2.4vh;
    color: #88d549;
}
/*top*/

.adress{
    width: 100%;
    height:92.4vh;
    background-color: #eff2ec;
    border-top: 0.1vh solid white;
}

.adress_top_box{
    width: 96vw;
    height: 8vh;
    background-color: white;
    margin-left: 2vw;
    margin-top: 1vh;
    color: #747474;
    border: 0.01vw solid white;
}
.adress_top_left{
    width: 30vw;
    height: 3vh;
    margin-left:5vw;
    float: left;
    margin-top: 2.4vh;
}
.adress_top_left>p{
    width: 30vw;
    height: 3vh;
    line-height: 3vh;

    font-weight: bold;
    font-size: 2.4vh;
}
.adress_top_right{
    width: 40vw;
    height: 5vh;
    float: right;
    margin-right: 1vw;
    margin-top: 2vh;
}
.adress_top_right1{
    width: 20vw;
    height: 5vh;
    float: left;
}
.adress_top_right1>img{
    width: 7vw;
    height: 3.5vh;
    float: left;
}
.adress_top_right1>p{
    width:10vw;
    height: 3.5vh;
    float: left;
    margin-left: 2vw;
    line-height: 3.5vw;
    margin-top: 1.4vw;
}
.adress_top_right2{
    width: 20vw;
    height: 5vh;
    float: left;
}
.adress_top_right2>a{
    width: 20vw;
    height: 5vh;
    float: left;
}
.adress_top_right2>a>img{
    width: 7vw;
    height: 3.5vh;
    float: left;
}
.adress_top_right2>a>p{
    width:10vw;
    height: 3.5vh;
    float: left;
    margin-left: 2vw;
    line-height: 3.5vw;
    margin-top: 1.4vw;
    color: #747474;
}
/*adress_top_box*/

.adress_detail{
    width: 96vw;
    height: 16vh;
    background-color: white;
    margin-left: 2vw;
    margin-top: 0.5vh;
    color: #747474;
    border: 0.01vw solid white;
}
.adress_detail_inform{
    width: 96vw;
    height: 3vh;
    margin-top: 3vh;
}
.adress_detail_inform_p1{
    width: 30vw;
    height: 3vh;
    margin-left: 5vw;
    line-height: 3vh;
    float: left;
}
.adress_detail_inform_p2{
    width: 30vw;
    height: 3vh;
    margin-right: 3vw;
    line-height: 3vh;
    float: right;
}
.adress_detail_iadress{
    margin-top: 3vh;
    width: 90vw;
    height: 3vh;
    margin-left: 5vw;
}
.adress_detail_iadress>p{
    margin-top: 2vh;
    width: 90vw;
    height: 3vh;

}







































